KardoPasso/Content/kardoPasso/img/uploads/basic imgs/1.psd
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/başakşehir.png
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/beşiktaş.png
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/bursaspor_logo_png_.png
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/fener.png
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/galatasaray.png
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/goztepe.png
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/sportoto_superlig_logo.png
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/tribün.jpg
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/tribün.png
KardoPasso/Content/kardoPasso/img/uploads/basic imgs/tribün2.jpg
.vs/KardoPasso/config/applicationhost.config
.vs/KardoPasso/v16/.suo
.vs/KardoPasso/v16/Server/sqlite3/db.lock
.vs/KardoPasso/v16/Server/sqlite3/storage.ide
